@model KhaccThienn_Ecommerce.Models.DataModels.Order
@{
    ViewData["Title"] = "Order Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var i = 1;

    var listProd = ViewBag.orderDetails;
}
<h4>Details Of Order #@Model.Id</h4>

<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3>Order Informations</h3>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No. </th>
                        <td>#@Model.Id</td>
                    </tr>
                    <tr>
                        <th>
                            Order date
                        </th>
                        <td>@Model.Created_Date</td>
                    </tr>
                    <tr>
                        <th>Total Price</th>
                        <td>@String.Format("{0:C}", Model.TotalPrice)</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>
                            @Model.Status
                        </td>
                    </tr>
                </thead>
            </table>
        </div>


        <div class="col-md-6">
            <h3>Shipment Details </h3>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <td>@Model.DeliverUser</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>@Model.DeliverAddress</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>@Model.DeliverPhone</td>
                    </tr>
                    <tr>
                        <th>Note</th>
                        <td>@Model.Note</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <br />
    <h4>Products of the order</h4>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">No. </th>
                <th>Product's Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Sub Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listProd)
            {
                <tr>
                    <td class="text-center">@i</td>
                    <td>@item.Product?.Name</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Product?.SalePrice > 0 ? String.Format("{0:C}", item.Product?.SalePrice) : String.Format("{0:C}", item.Product?.Price))</td>
                    <td>@(String.Format("{0:C}", item.TotalPrice))</td>
                </tr>
                i++;
            }


        </tbody>
    </table>
</div>