@model X.PagedList.IPagedList<KhaccThienn_Ecommerce.Models.DataModels.Order>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "List Order";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var sorts = ViewBag.sorts;
}
<h4>List Orders</h4>

<hr />
<form class="row p-2" method="get">
    <div class="col-lg-8 row">
        <select class="form-control col-lg-8 rounded-0 " name="sort">
            <option value="">----- Order By -----</option>
            <option value="Id-ASC" selected="@(sorts == "Id-ASC")">Sorting By Id (a - z)</option>
            <option value="Id-DESC" selected="@(sorts == "Id-DESC")">Sorting By Id (z - a)</option>
            <option value="Created_Date-ASC" selected="@(sorts == "Created_Date-ASC")">Sorting By Date Created (a - z)</option>
            <option value="Created_Date-DESC" selected="@(sorts == "Created_Date-DESC")">Sorting By Date Created (z - a)</option>
            <option value="Status-ASC" selected="@(sorts == "Status-ASC")">Sorting By Status (a - z)</option>
            <option value="Status-DESC" selected="@(sorts == "Status-DESC")">Sorting By Status (z - a)</option>
        </select>
        <button class="col-lg-2 btn rounded-0 btn-primary">Find....</button>
        @if (!string.IsNullOrEmpty(sorts))
        {
            <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="col-lg-2 btn rounded-0 btn-warning">Refresh....</a>
        }
    </div>

    <div class="col-lg-4">
    </div>
</form>
<div class="container-fluid">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Customer</th>
                <th>Order Date</th>
                <th>Items</th>
                <th>Total</th>
                <th>Status</th>
                <th>

                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <td>@item.DeliverUser</td>
                    <td>@item.Created_Date</td>
                    <td>@item.OrderDetails?.Count item(s)</td>
                    <td>@String.Format("{0:C}", item.TotalPrice)</td>
                    <td>@item.Status</td>
                    <td>
                        <!-- Default dropright button -->
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-outline-success rounded-0 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-id="@item.Id">View Details</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Order" asp-action="ApproveOrder" asp-route-id="@item.Id">Approved This Order</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Order" asp-action="CancelOrder" asp-route-id="@item.Id">Delete Order</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
    }
    )

</div>