@model X.PagedList.IPagedList<KhaccThienn_Ecommerce.Models.DataModels.Category>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "List Categories";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    var names = ViewBag.names;
    var sorts =  ViewBag.sorts;
}

<h4>List Categories</h4>

<hr />

<a asp-action="Create" class="btn btn-outline-primary rounded-0">Create New</a>
<form class="row p-2" method="get">
    <div class="col-lg-4 p-0">
        <input class="form-control rounded-0" value="@names" name="name" placeholder="Find by name...." />
    </div>

    <div class="col-lg-4 row">
        <select class="form-control col-lg-8 rounded-0 " name="sort">
            <option value="">----- Order By -----</option>
            <option value="Id-ASC" selected="@(sorts == "Id-ASC")">Sorting By Id (a - z)</option>
            <option value="Id-DESC" selected="@(sorts == "Id-DESC")">Sorting By Id (z - a)</option>
            <option value="Name-ASC" selected="@(sorts == "Name-ASC")">Sorting By Name (a - z)</option>
            <option value="Name-DESC" selected="@(sorts == "Name-DESC")">Sorting By Name (z - a)</option>
            <option value="CreatedDate-ASC" selected="@(sorts == "CreatedDate-ASC")">Sorting By Date Created (a - z)</option>
            <option value="CreatedDate-DESC" selected="@(sorts == "CreatedDate-DESC")">Sorting By Date Created (z - a)</option>
            <option value="UpdatedDate-ASC" selected="@(sorts == "UpdatedDate-ASC")">Sorting By Date Updated (a - z)</option>
            <option value="UpdatedDate-DESC" selected="@(sorts == "UpdatedDate-DESC")">Sorting By Date Updated (z - a)</option>
        </select>
        <button class="col-lg-2 btn rounded-0 btn-primary">Find....</button>
        @if (!string.IsNullOrEmpty(names) || !string.IsNullOrEmpty(sorts))
        {
            <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="col-lg-2 btn rounded-0 btn-warning">Refresh....</a>

        }
    </div>

    <div class="col-lg-4">
    </div>
</form>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Created_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Updated_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Id)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="w-25" style="width: 10%;">
                    <img src="~/Uploads/category/@item.Image" class="card-img" alt="@item.Name" />
                </td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="badge badge-success">Show</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Hide</span>

                    }
                </td>
                <td>
                    @(item.Created_Date != null ? item.Created_Date.Value.ToString("dd / MM / yyyy hh:mm:ss") : "Null")
                </td>
                <td>
                    @(item.Updated_Date != null ? item.Updated_Date.Value.ToString("dd / MM / yyyy hh:mm:ss") : "Null")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success rounded-0">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning rounded-0">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger rounded-0">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    }
)
