@model X.PagedList.IPagedList<KhaccThienn_Ecommerce.Models.DataModels.Contact>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "List Contact Information";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var sorts = ViewBag.sorts;
}

<h4>List Contact Information</h4>

<hr />

<form class="row p-2 justify-content-between" method="get">
    <div class="col-lg-4 row ">
        <select class="form-control col-lg-8 rounded-0 " name="sort">
            <option value="">----- Order By -----</option>
            <option value="Id-ASC" selected="@(sorts == "Id-ASC")">Sorting By Id (a - z)</option>
            <option value="Id-DESC" selected="@(sorts == "Id-DESC")">Sorting By Id (z - a)</option>
            <option value="CreatedDate-ASC" selected="@(sorts == "CreatedDate-ASC")">Sorting By Date Created (a - z)</option>
            <option value="CreatedDate-DESC" selected="@(sorts == "CreatedDate-DESC")">Sorting By Date Created (z - a)</option>
        </select>
        <button class="col-lg-2 btn rounded-0 btn-primary">Find....</button>
        @if (!string.IsNullOrEmpty(sorts))
        {
            <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="col-lg-2 btn rounded-0 btn-warning">Refresh....</a>

        }
    </div>
    <div class="col-lg-7"></div>
    <div class="col-lg-1">
        @if (Model.Count > 0)
        {
            <a class="btn btn-outline-secondary rounded-0" asp-area="Admin" asp-controller="Contact" asp-action="Export">Export Excel</a>

        }
    </div>
</form>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Messsage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Created_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Id)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Messsage)
                </td>
                <td>
                    @(item.Created_Date != null ? item.Created_Date.Value.ToString("dd / MM / yyyy hh:mm:ss") : "Null")
                </td>
                <td>
                    <a href="mailto:@item.Email" class="btn btn-outline-success rounded-0">Reply Contact</a> |
                    <a asp-area="Admin" asp-controller="Contact" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger rounded-0">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    }
)


