@model IEnumerable<KhaccThienn_Ecommerce.Models.DataModels.Category>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
    var userFound = ViewBag.userFound;

}
<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>We Are Hexashop</h4>
                            <div class="main-border-button">
                                <a href="#">Purchase Now!</a>
                            </div>
                        </div>
                        <img src="~/assets/images/left-banner-image.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Women</h4>
                                        <span>Best Clothes For Women</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Women</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                                <a href="#">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-01.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Men</h4>
                                        <span>Best Clothes For Men</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Men</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                                <a href="#">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-02.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Kids</h4>
                                        <span>Best Clothes For Kids</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Kids</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                                <a href="#">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-03.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Accessories</h4>
                                        <span>Best Trend Accessories</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Accessories</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                                <a href="#">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="~/assets/images/baner-right-image-04.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
@if (Model.Count() > 0)
{
    foreach (var cate in Model)
    {
        <!-- ***** Category Area Starts ***** -->
        <section class="section" id="men">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-heading">
                            <h2>@cate.Name 's Latest</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="men-item-carousel">
                            @if (cate?.Products.Count > 0)
                            {
                                if (cate?.Products.Count == 1)
                                {
                                    @foreach (var item in cate.Products.OrderByDescending(x => x.Id).Take(4))
                                    {
                                        <div class="item col-lg-4">
                                            <div class="thumb">
                                                <div class="hover-content">
                                                    <ul>
                                                        <li><a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a></li>

                                                    </ul>
                                                </div>
                                                <img src="~/Uploads/product/@item.Image" alt="" class="card-img">
                                            </div>
                                            <div class="down-content">
                                                <h4>@item.Name</h4>
                                                @if (item.SalePrice > 0)
                                                {
                                                    <span>$ @item.SalePrice - <del>$ @item.Price</del></span>
                                                }
                                                else
                                                {
                                                    <span>$ @item.Price </span>
                                                }
                                                <ul class="stars">
                                                    @if (userFound != null)
                                                    {
                                                        <li>
                                                            <form asp-controller="Cart" asp-action="AddToCart">
                                                                <input type="hidden" name="accId" value="@userFound.Id" />
                                                                <input type="hidden" name="prodId" value="@item.Id" />

                                                                <input type="hidden" name="quantity" value="1">
                                                                <button type="submit" class="fa fa-shopping-cart btn btn-outline-secondary rounded-0" title="Add To Cart">
                                                                </button>
                                                            </form>
                                                            @* <a asp-controller="Cart"
                                    asp-action="AddToCart"
                                    asp-route-accId="@User?.Claims?.Take(0)?.FirstOrDefault()?.Value"
                                    asp-route-prodId="@item.Id"></a> *@
                                                        </li>
                                                    }
                                                </ul>

                                            </div>
                                        </div>
                                    }
                                }

                                else
                                {
                                    <div class="owl-men-item owl-carousel">

                                        @foreach (var item in cate.Products.OrderByDescending(x => x.Id).Take(4))
                                        {
                                            <div class="item">
                                                <div class="thumb">
                                                    <div class="hover-content">
                                                        <ul>
                                                            <li><a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a></li>

                                                        </ul>
                                                    </div>
                                                    <img src="~/Uploads/product/@item.Image" alt="">
                                                </div>
                                                <div class="down-content ">
                                                    <div>
                                                        <h4>@item.Name</h4>
                                                        @if (item.SalePrice > 0)
                                                        {
                                                            <span>$ @item.SalePrice - <del>$ @item.Price</del></span>
                                                        }
                                                        else
                                                        {
                                                            <span>$ @item.Price </span>
                                                        }
                                                    </div>

                                                    <ul class="stars">
                                                        @if (HttpContextAccessor.HttpContext.Session.GetInt32("userID") != null)
                                                        {
                                                            <li>
                                                                <form asp-controller="Cart" asp-action="AddToCart">
                                                                    <input type="hidden" name="accId" value="@userFound.Id" />
                                                                    <input type="hidden" name="prodId" value="@item.Id" />

                                                                    <input type="hidden" name="quantity" value="1">
                                                                    <button type="submit" class="fa fa-shopping-cart btn btn-outline-secondary rounded-0" title="Add To Cart">
                                                                    </button>
                                                                </form>
                                                                @* <a asp-controller="Cart"
                                        asp-action="AddToCart"
                                        asp-route-accId="@User?.Claims?.Take(0)?.FirstOrDefault()?.Value"
                                        asp-route-prodId="@item.Id"></a> *@
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                            else
                            {
                                <p>This category is empty !</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Category Area Ends ***** -->
    }
}
else
{
    <p>Nothing To Display Here</p>
}


<!-- ***** Explore Area Starts ***** -->
<section class="section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <h2>Explore Our Products</h2>
                    <span>You are allowed to use this HexaShop HTML CSS template. You can feel free to modify or edit this layout. You can convert this template as any kind of ecommerce CMS theme as you wish.</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>You are not allowed to redistribute this template ZIP file on any other website.</p>
                    </div>
                    <p>There are 5 pages included in this HexaShop Template and we are providing it to you for absolutely free of charge at our TemplateMo website. There are web development costs for us.</p>
                    <p>If this template is beneficial for your website or business, please kindly <a rel="nofollow" href="https://paypal.me/templatemo" target="_blank">support us</a> a little via PayPal. Please also tell your friends about our great website. Thank you.</p>
                    <div class="main-border-button">
                        <a href="products.html">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="leather">
                                <h4>Leather Bags</h4>
                                <span>Latest Collection</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="~/assets/images/explore-image-01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <img src="~/assets/images/explore-image-02.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="types">
                                <h4>Different Types</h4>
                                <span>Over 304 Products</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Explore Area Ends ***** -->
<!-- ***** Social Area Starts ***** -->
<section class="section" id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Social Media</h2>
                    <span>Details to details is what makes Hexashop different from the other themes.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row images">
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Fashion</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-01.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>New</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-02.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Brand</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-03.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Makeup</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-04.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Leather</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-05.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Bag</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/instagram-06.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Social Area Ends ***** -->
