@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Welcome Back, @User.Identity.Name !</h2>

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.orderCount</h3>

                <p>New Orders</p>
            </div>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.productCount</h3>

                <p>Products</p>
            </div>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.userCount</h3>

                <p>User Registrations</p>
            </div>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.onlineUser</h3>

                <p>Unique Visitors</p>
            </div>

        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->